# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for
# review when someone opens a pull request.
* @0xCatalyst @AliceInDeFi

# UI/UX related files
*.css @0xCatalyst @AliceInDeFi
*.scss @0xCatalyst @AliceInDeFi
/public/assets/ @0xCatalyst @AliceInDeFi

# Core components
/src/components/ @0xCatalyst @AliceInDeFi
/src/pages/ @0xCatalyst @AliceInDeFi

# API and server-side code
/src/api/ @0xCatalyst @AliceInDeFi
/src/lib/ @0xCatalyst @AliceInDeFi

# Build configuration
*.json @0xCatalyst @AliceInDeFi
*.yml @0xCatalyst @AliceInDeFi
/next.config.js @0xCatalyst @AliceInDeFi

# Documentation
*.md @0xCatalyst @AliceInDeFi
